block redirect
	| ---
	| redirect_from: "/about/"
	| ---
	| 

extends ./layout.jade

block title
	title About

block content
	h1 About us
	p.lead inTouch was founded in 2017 in Russia.
	p.lead We set ourselves a goal to learn the human emotions. We use the own hardware platform to get data from the human body and analize it with algorithms of machine learning.
	p.lead Our team are young and ambitious professionals in various areas of science.
	.row
		.col-md-3.col-sm-6
			img.img-circle(src="/pictures/about/team1sm.JPG" width="140" height="140")
			h2 Anastasia <br /> Stelvaga
			p Leader
		.col-md-3.col-sm-6
			img.img-circle(src="/pictures/about/team2sm.JPG" width="140" height="140")
			h2 Arseny <br /> Povazhaev
			p Hardware engineer
		.col-md-3.col-sm-6
			img.img-circle(src="/pictures/about/team3sm.JPG" width="140" height="140")
			h2 Alexander <br /> Martynov
			p Data analyst
		.col-md-3.col-sm-6
			img.img-circle(src="/pictures/about/team4sm.JPG" width="140" height="140")
			h2 Alexey <br /> Medvedev
			p Software engineer

block menuItems
	+list("about")