extends ./layout.jade

block title
	title Contacts

block content
	h1 Our contacts
	p.lead To contact us you can write a letter to our e-mail:
	a(href="mailto:intouchemotions@gmail.com")
		h3 intouchemotions@gmail.com
	p.lead or connect with us in social networks:
	.row
		.col-md-3.col-sm-6.social
			a(href="https://vk.com/intouchemotions") 
				i.fa.fa-vk.fa-5x
		.col-md-3.col-sm-6.social
			a(href="https://facebook.com/intouchemotions") 
				i.fa.fa-facebook-official.fa-5x
		.col-md-3.col-sm-6.social
			a(href="https://twitter.com/intouchemotions") 
				i.fa.fa-twitter.fa-5x
		.col-md-3.col-sm-6.social
			a(href="https://instagram.com/intouchemotions") 
				i.fa.fa-instagram.fa-5x

block menuItems
	+list("contacts")