extends ./layout.jade

block title
	title Contacts

block content
	h1 Our contacts
	p.lead To contact us you can write a letter to our e-mail:
	h2(style="color:blue") e-mail will be here
	p.lead or connect with us in social networks:
	br
	.row
		.col-sm-4
			a(href="https://vk.com") 
				i.fa.fa-vk.fa-5x
		.col-sm-4
			a(href="https://facebook.com") 
				i.fa.fa-facebook-official.fa-5x
		.col-sm-4
			a(href="https://twitter.com") 
				i.fa.fa-twitter.fa-5x

block menuItems
	+list("contacts")