extends ./layout.jade

block title
	title inTouch

block content
	h1 Be inTouch with your emotions
	div#myCarousel.carousel.slide(data-ride="carousel")
		ol.carousel-indicators
			li(data-target="#myCarousel" data-slide-to="0")
			li.active(data-target="#myCarousel" data-slide-to="1")
			li(data-target="#myCarousel" data-slide-to="2")

		.carousel-inner(role="listbox")
			.item
				img.first-slide(src="pictures/c1.jpg")
			.item.active
				img.first-slide(src="pictures/c2.jpg")
			.item
				img.first-slide(src="pictures/c3.jpg")

		a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
			span.glyphicon.glyphicon-chevrom-left(aria-hidden="true")
			span.sr-only Previous

		a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
			span.glyphicon.glyphicon-chevrom-right(aria-hidden="true")
			span.sr-only Next



	a.btn.btn-lg.btn-success.subscribe-button(href="https://goo.gl/forms/v1lhvgUmdAO01dn83" type="button") Subscribe!

			

block menuItems
	+list("home")