extends ./layout.jade

block redirect
	| ---
	| redirect_from: "/index/"
	| ---
	| 

block title
	title inTouch

block content
	div.associate
		a(href="http://www.fasie.ru")
			img(src="/pictures/bortnik_logo.png")
		a(href="http://www.sk.ru")
			img(src="/pictures/Sk-birka-eng.jpg")
	br
	h1 Be inTouch with your emotions
	div#myCarousel.carousel.slide(data-ride="carousel")
		ol.carousel-indicators
			li(data-target="#myCarousel" data-slide-to="0")
			li.active(data-target="#myCarousel" data-slide-to="1")
			li(data-target="#myCarousel" data-slide-to="2")
			li(data-target="#myCarousel" data-slide-to="3")
			li(data-target="#myCarousel" data-slide-to="4")

		.carousel-inner(role="listbox")
			.item
				img.first-slide(src="/pictures/home/c6.jpg")
			.item.active
				img.first-slide(src="/pictures/home/c2.jpg")
			.item
				img.first-slide(src="/pictures/home/c3.jpg")
			.item
				img.first-slide(src="/pictures/home/c4.jpg")
			.item
				img.first-slide(src="/pictures/home/c5.jpg")

		a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
			span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
			span.sr-only Previous

		a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
			span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
			span.sr-only Next



	a.btn.btn-lg.btn-success.subscribe-button(href="https://goo.gl/forms/v1lhvgUmdAO01dn83" type="button" target="_blank") Subscribe!




			

block menuItems
	+list("home")