extends ./layout.jade

block redirect
	| ---
	| redirect_from: "/press/"
	| ---
	| 

block title
	title Press

block content
	h1 Press about us
	hr.featurette-divider
	.row.featurette.news
		.col-md-3
			img.featurette-image.img-responsive.center-block(src="pictures/news/n1.jpg")
		.col-md-9
			h2.featurette-heading We won a competition "Eureka"
			p.lead Our team won in section "IT+" with project "Electronic bracelet for convenient communication of close people"
			p
				a.btn.btn-default(href="https://vk.com/wall-25081285_594" role="button" target="_blank") Read more

	hr.featurette-divider

block menuItems
	+list("press")