extends ./layout.jade

block redirect
	| ---
	| redirect_from: "/science/"
	| permalink: science
	| ---
	| 

block title
	title Science

block content
	h1 Science
	p.lead Currently scientists study our feelings and emotions accurately. We accept almost 100% of our decisions based on own emotions. Emotions studied by various sciences, from psychology to molecular biology. Nowadays there is no complete model that can predict all possible changes of emotional state of human. Set of data about human body to make this model is open question too. We are convinced that this model will appear in the future. We will try to make our contribution to create such a model.
	img.img-fluid(src="/pictures/science/s1.jpg")
	p.lead There are many methods of determination of our emotions. They begin with subjective feelings of probationer and end with analysis of human-inside chemical reactions. The easiest way to collect statistics about human emotions is using of non-invasive methods, like detection of emotions based on facial expression, voice or shape of pulse wave. 
	img.img-fluid(src="/pictures/science/s2.jpg")
	p.lead In our work, we use the plethysmographic method to get the shape of pulse wave and then analyze it. Our diagnostic system realizes principles of emotion detection based on analysis of distance between peaks in the pulse wave. Moreover, in present time we develop some experiments to identify new patterns and improve the current emotion model.

block menuItems
	+list("science")