.navbar-brand {
    padding: 0px 0px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.subscribe-button {
	padding: 4px 40px;
	margin: 20px 20px;
}

.social {
	float: right;
}

.fa {
	padding: 10px 10px;
}

.img-fluid{
	width: 100%;
	height: auto;
}

.news{
	text-align: left;
}